################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Synchronous Event Order/bin/Debug
/Synchronous Event Order/obj
/.vs
/packages
/Synchronous Event Order/Synchronous Event Order.csproj.user
/Synchronous Event Order/Synchronous Event Order.csproj.DotSettings.user
/Synchronous Event Order.sln.DotSettings.user
